body {
    font-family: Arial;
}

table,
td {
    /* border: 1px solid black; */
    border-collapse: collapse;
}

td {
    width: 70px;
    height: 70px;
}

.black {
    background-color: black;
}

.white {
    background-color: rgb(254, 233, 208);
}

.White-Piece, .Black-Piece {
    margin: auto;
    display: block;
}

.possible {
    background-color: aquamarine;
}

.possible-attack {
    background-color: red;
}

#turn-show {
    border: 1px;
    border-radius: 25px;
    border-color: darkgray;
    border-style: solid;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: darkgray;
    font-family: Arial;
    color: black;
    text-align: center;
    width: 75px;
}

#margin-bottom {
    margin-bottom: 16px;
}

p {
    margin-bottom: 0px;
}

.score_counter {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    scale: 50%;
    object-fit: contain;
    height: auto;
    width: 40px;
}

.score-black {
    align-items: start;
}

.score-white {
    align-items: start;
}

.sidebar{
    width: 500px;
}