table,
td {
    /* border: 1px solid black; */
    border-collapse: collapse;
}

td {
    width: 70px;
    height: 70px;
}

.black {
    background-color: black;
}

.white {
    background-color: rgb(254, 233, 208);
}

.White-Piece, .Black-Piece {
    margin: auto;
    display: block;
}

.possible, .possible-attack {
    background-color: aquamarine;
}

.not-possible {
    background-color: red;
}

#turn-show {
    border: 1px;
    border-radius: 25px;
    border-color: darkgray;
    border-style: solid;
    margin-top: 50px;
    background-color: darkgray;
    font-family: Arial;
    color: black;
    text-align: center;
}